@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Scrollbar tổng thể */
::-webkit-scrollbar {
  width: 3px; /* độ rộng thanh cuộn */
}

/* Phần nền phía sau thanh kéo */
::-webkit-scrollbar-track {
  background: black; /* màu nền thanh cuộn */
  border-radius: 8px;
}

/* Phần thanh kéo */
::-webkit-scrollbar-thumb {
  background: white; /* màu thanh kéo */
  border-radius: 8px;
}

/* Khi hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background: #808080; /* màu đậm hơn khi hover */
}
.bg-root {
  background-image: url('../../public/bg_trong_dong.jpg');
  background-size: cover; /* hoặc 'contain' tùy ý */
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-footer {
  /*background: linear-gradient(to right, #993333 0%, #000066 100%);*/
  /*background: linear-gradient(135deg, #007cf0 0%, #00dfd8 50%, #7928ca 100%);*/
  background: linear-gradient(135deg, #ff6600 0%, #007cf2 100%);
}
.bg-mess-icon {
  background: linear-gradient(to top right, #4f62ff 0%, #ff6b65 100%);
}

.bg-text-line {
  background: linear-gradient(to right, #13dfd0 0%, white 100%);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

li {
  cursor: pointer;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

/*.wave-line {
  border: none;
  height: 6px;
  background: repeating-linear-gradient(-45deg, #888, #888 10px, transparent 10px, transparent 20px);
  animation: waveMove 2s linear infinite;
}

@keyframes waveMove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 20px;
  }
}*/

/* DARK MODE */
/*html.dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}*/

/* :root {

--background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}  */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
