@import 'tailwindcss';
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: Manrope, sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: Manrope, sans-serif;
}

/* Scrollbar tổng thể */
::-webkit-scrollbar {
  width: 3px; /* độ rộng thanh cuộn */
}

/* Phần nền phía sau thanh kéo */
::-webkit-scrollbar-track {
  background: black; /* màu nền thanh cuộn */
  border-radius: 8px;
}

/* Phần thanh kéo */
::-webkit-scrollbar-thumb {
  background: white; /* màu thanh kéo */
  border-radius: 8px;
}

/* Khi hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background: #808080; /* màu đậm hơn khi hover */
}

.bg-contact {
  background-image: url('/banner/278.jpg');
  background-size: cover;
  background-position: center;
  min-height: 60vh; /* mobile */
}

/* PC */
@media (min-width: 1024px) {
  .bg-contact {
    min-height: 75vh;
  }
}

.banner-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.banner-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/banner/banner3.png');
  background-size: cover;
  background-position: 90% 90%;
}

@media (min-width: 768px) {
  .banner-bg::before {
    background-position: center;
  }
}

.banner-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, #020ef8, #0149b2);
  mix-blend-mode: plus-lighter;
}

.bg-footer {
  background: linear-gradient(135deg, #ff6600 0%, #007cf2 100%);
}
.bg-mess-icon {
  background: linear-gradient(to top right, #4f62ff 0%, #ff6b65 100%);
}

.bg-text-line {
  background: linear-gradient(to right, #13dfd0 0%, white 100%);
}

.shape-wrap {
  float: left;
  shape-outside: inset(0);
  -webkit-shape-outside: inset(0);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 33.33%;
  min-width: 0;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 480px) {
  .embla__slide {
    flex: 0 0 100%;
  }
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

/* li {
  cursor: pointer;
} */

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
}

/* line fill */
.line-container {
  width: 100%;
  height: 4px;
  background-color: white;
  overflow: hidden;
  border-radius: 2px;
}

.line-fill {
  height: 100%;
  background-color: #2595d8;
  animation: fillLine 5s linear infinite;
}

@keyframes fillLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*animation card*/
.fade {
  opacity: 0;
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
  will-change: opacity, transform;
}

.fade.show {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.fade-up-to-down {
  transform: translateY(-40px);
}

.fade-down-to-up {
  transform: translateY(40px);
}

.fade-left-to-right {
  transform: translateX(-40px);
}

.fade-right-to-left {
  transform: translateX(40px);
}

.fade-zoom-in {
  transform: scale(0.85);
}

.fade-zoom-out {
  transform: scale(1.15);
}

/*.wave-line {
  border: none;
  height: 6px;
  background: repeating-linear-gradient(-45deg, #888, #888 10px, transparent 10px, transparent 20px);
  animation: waveMove 2s linear infinite;
}

@keyframes waveMove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 20px;
  }
}*/

/* DARK MODE */
/*html.dark ::-webkit-scrollbar-track {
  background: #1e1e1e;
}

html.dark ::-webkit-scrollbar-thumb {
  background: #555;
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background: #777;
}*/

/* :root {

--background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}  */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
